<div class="MainBlock">
    <header>
        10 იანვრიდან - 12 მარტამდე
        <button title="Close">&times;</button>
    </header>

    <div class="PragmaticContent">
        <section class="pragmaticContent-one">
            <a href="#" class="chip">სლოტები</a>
            <h2>
                PRAGMATIC-ის რჩეულ სლოტებში დიდი ფულადი პრიზები და ქეშდროფები გელოდება
            </h2>
            <p>
                52 კვირის განმავლობაში, მიიღე ფულადი პრიზები ყოველკვირეული საპრიზო ფონდიდან
            </p>
        </section>

        <section class="pragmaticContent-two">
            <div class="banner">
                <div class="banner-cards">
                    <div *ngFor="let card of cards" class="card">
                        <img *ngIf="card.active; then ifBlock else elseBlock" />
                        <ng-template #ifBlock>
                            <img src="../assets/images/tab-bg-active.png" alt="Card active" />
                        </ng-template>
                        <ng-template #elseBlock>
                            <img src="../assets/images/tab-bg.png" alt="Card" />
                        </ng-template>
                        <div class="card-text">
                            <span>
                                <img *ngIf="!card.active" src="../assets/images/lock.png" alt="Locked" />
                                {{ card.period }}
                            </span>
                            <h4>
                                {{ card.price }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <h3>
                12 კვირის განმავლობაში, მიიღე ფულადი პრიზები ყოველკვირეული საპრიზო ფონდიდან
            </h3>
        </section>

        <section class="pragmaticContent-three">
            <div class="tabs">
                <div *ngFor="let tab of tabs" class="tab" [ngClass]="{'active': tab.active}">{{ tab.text }}</div>
            </div>
            <div class="leaderboards-container">
                <div class="leaderboards">
                    <div *ngFor="let lb of lbs" class="leaderboard">
                        <h4>{{ lb.title }}</h4>
                        <p>
                            {{ lb.content }}
                        </p>
                        <div class="leaderboard-table">
                            <div class="leaderboard-title" [ngClass]="lb.color">
                                <span><em>ყოველდღიური</em> 248 000₾</span>
                                <div [innerHTML]="lb.info"></div>
                            </div>
    
                            <div class="leaderboard-table-in">
                                <div class="leaderboard-labels">
                                    <div class="leaderboard-label">
                                        {{ lb.label }}
                                    </div>
                                    <div class="leaderboard-label">
                                        პრიზი
                                    </div>
                                </div>
                                <div class="leaderboard-cells-container">
                                    <div *ngFor="let cell of lb.tables" class="leaderboard-cells">
                                        <div class="leaderboard-cell">
                                            {{ cell.quantity }}
                                        </div>
                                        <div class="leaderboard-cell">
                                            {{ cell.prize }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <a href="#" title="Add" class="leaderboard-add">
                        <img src="../assets/images/plus.png" alt="Plus">
                    </a>
                </div>
    
                <div class="leaderboard-notice">
                    *პრიზები დაირიცხება ავტომატურად მოგებისთანავე.
                </div>
    
                <div class="leaderboard-notice">
                    *ლიდერბორდი და დარჩენილი ქეშ დროფ პრიზების ოდენობა განახლდება ავტომატურად, მონაწილე <br /> თამაშების ფანჯარაში
                </div>
            </div>
        </section>

        <section class="pragmaticContent-four">
            <h2>
                დაატრიალე რჩეული სლოტები:
            </h2>
            <p>
                სპინზე ფსონის მინ. რაოდენობა - 2₾
            </p>

            <swiper
            [slidesPerView]="4.3"
            (swiper)="onSwiper($event)"
            (slideChange)="onSlideChange($event)"
            >
                <ng-template swiperSlide>
                    <a href="#" class="slide-item">
                        <img src="../assets/images/thumb/5-Lions-Megaways.jpg" alt="Slide 1">
                    </a>
                </ng-template>

                <ng-template swiperSlide>
                    <a href="#" class="slide-item">
                        <img src="../assets/images/thumb/AztecBonanza.jpg" alt="Slide 2">
                    </a>
                </ng-template>
                
                <ng-template swiperSlide>
                    <a href="#" class="slide-item">
                        <img src="../assets/images/thumb/aztecGems.jpg" alt="Slide 3">
                    </a>
                </ng-template>

                <ng-template swiperSlide>
                    <a href="#" class="slide-item">
                        <img src="../assets/images/thumb/Big-Bass-Bonanza-Megaways.jpg" alt="Slide 4">
                    </a>
                </ng-template>

                <ng-template swiperSlide>
                    <a href="#" class="slide-item">
                        <img src="../assets/images/thumb/BigBassBonanza.jpg" alt="Slide 5">
                    </a>
                </ng-template>

                <ng-template swiperSlide>
                    <a href="#" class="slide-item">
                        <img src="../assets/images/thumb/Bigger-Bass-Bonanza.jpg" alt="Slide 6">
                    </a>
                </ng-template>

                <ng-template swiperSlide>
                    <a href="#" class="slide-item">
                        <img src="../assets/images/thumb/Book-of-Fallen.jpg" alt="Slide 7">
                    </a>
                </ng-template>
            </swiper>

            <div class="progress">
                <div class="progress-thumb" [style.width.%]="progress" ></div>
            </div>

            <h3>წესები და პირობები</h3>

            <div class="dropdowns">
                <div *ngFor="let drop of dropdowns; let i = index" class="dropdown" [ngClass]="{'active': drop.active}" (click)="dropToggle(i)">
                    <button>
                        {{ drop.title }}
                        <img src="../assets/images/tab-slider-arrow-r.png" alt="Arrow">
                    </button>
                    <div class="dropdown-text">
                        *ლიდერბორდი და დარჩენილი ქეშ დროფ პრიზების ოდენობა განახლდება ავტომატურად, მონაწილე
                        თამაშების ფანჯარაში
                        *ლიდერბორდი და დარჩენილი ქეშ დროფ პრიზების ოდენობა განახლდება ავტომატურად, მონაწილე
                        თამაშების ფანჯარაში

                        *ლიდერბორდი და დარჩენილი ქეშ დროფ პრიზების ოდენობა განახლდება ავტომატურად, მონაწილე
                        თამაშების ფანჯარაში
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <div class="gradient"></div>
        <div class="footer-in">
            <a href="#" title="წინა აქცია">
                <img src="../assets/images/tab-slider-arrow-r.png" alt="Arrow back">
                წინა აქცია
            </a>

            <a href="#" class="bet-btn" title="Place a bet">
                Place a bet
            </a>

            <a href="#" title="შემდეგი აქცია">
                შემდეგი აქცია
                <img src="../assets/images/tab-slider-arrow-r.png" alt="Arrow next">
            </a>
        </div>
    </footer>
</div>